@font-face {
    font-family: "clemente"; 
    src: url("fonts/clemente/ClementePDai-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "clemente-light"; 
    src: url("fonts/clemente/ClementePDac-ExtraLight.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 